#game-container {
  text-align: center;
}

#score {
  font-size: 24px;
  margin-bottom: 10px;
}

#board {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #eee;
  position: relative;
}

.grid-cell {
  width: 90px;
  height: 90px;
  background-color: #ccc0b3;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.grid-cell:nth-child(4n) {
  margin-right: 0;
}
.grid-cell:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.tile {
  width: 90px;
  height: 90px;
  background-color: #ccc;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: transform 100ms ease-in-out;
}

.tile-new {
  animation: appear 200ms ease 100ms;
}

.tile-merged {
  animation: pop 200ms ease 100ms;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 100;
    transform: scale(1);
  }
}

#game-over {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  visibility: hidden;
}

button {
  font-size: 24px;
  padding: 10px 20px;
}
